# La idea es que esta MONGO_URI sea la BBDD de mongoDB Atlas en el futuro
MONGO_URI=mongodb://localhost:27017/bbdd_auth
MY_TOKEN_SECRET=Op9WwkTeh45k0
# DB_SSL=true si la BBDD MongoDB está desplegada en Atlas
DB_SSL=false

# Production
NODE_ENV=production
